.container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 70vw;
  margin: 4rem;

  // margin-left: 4rem;
  // margin-left: 5rem;
}
.calendar {
  width: 100%;
  display: flex;
  justify-content: center;
  // padding: 1rem;
}
.main {
  overflow: "auto";

  padding: 5rem;
  padding-top: 0;
}
.mainContainer {
  height: 100%;
  // padding-top: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin: 1rem;

  border-radius: 10;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main2 {
  background: #ffffff;
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.updates {
  width: 25%;
  height: auto;

  justify-content: safe;
  border-radius: 10px;
}

.h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.h2 {
  text-align: center;
  margin-top: 50px;
}
.p {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: black;
  font-size: 1.5rem;
}
.profile {
  height: 17vh;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  .dp {
    margin-top: 1.3rem;
    margin-bottom: 2.5rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    .img {
      border-radius: 150px !important;
    }
  }
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.7rem;
}

.p1 {
  padding-left: 2rem;
  font-weight: bold;
}
.p2 {
  padding-right: 2rem;
}
.buttons {
  // height: 10vh;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  // flex-direction: x;
}
.buttonBox {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.buttonBox2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-right: 3px solid;
  border-left: 3px solid;
}
.button {
  background-color: white;
  font-size: 2rem;
  // color: white;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  border-radius: 12px;

  border: 0px;
  outline: none;
}

.icon {
  text-align: center;
  height: 6rem;
  width: 6rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px #fff0f0;
  margin-top: -3rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(160, 159, 159);
    color: black;
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  p {
    text-align: center;
  }
}
