.container {
  margin-top: 5rem;
  overflow: "auto";

  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.main1 {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  height: 60rem;
  width: 70rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main2 {
  background: #ffffff;
  height: 97%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.updates {
  width: 20rem;
  justify-content: safe;
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
  border-radius: 10px;
}
