.editModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: -8em;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.cancelIcon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // margin-bottom: 1em;
  margin-top: 1rem;
}

.cancelIconButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dataBox {
  width: 100%;
  padding: 2em;
  padding-bottom: 0;
  // border: 1px solid #ccc;
  border-radius: 5px;
  // margin-bottom: 2em;
  display: flex;
}

.steps {
  margin-bottom: 2em;
}

.contentStyle {
  margin-bottom: 2em;
}

.buttonBox {
  display: flex;
  justify-content: space-around;

  width: 50vw;
  margin: 1rem;
}

.editButton,
.cancelButton {
  padding: 0.5em 1em;
  margin: 1em 0.5em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.personalCon {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.156);
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
}

.image {
  display: flex;
  margin: 1rem;
  border: 1px solid black;
  // width: 150px;
  // height: 150px;
  border-radius: 150px !important;

  // margin-top: 1em;
  // margin-right: 1em;
}

.h1x {
  font-size: 2.5em;
  // margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.h2x {
  font-size: 1.3em;
}

.inputFields {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 300px;
  margin: 0.5em;
}

.box2 {
  margin-bottom: 1em;
}

.h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.Dropdown {
}
.textfiled {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 0.5em;
}

.formfields {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 549px) and (max-width: 983px) {
  .main {
    overflow: scroll;
    position: fixed;
    right: 8%;
    bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .container {
    width: 82vw;
  }

  .dataBox {
    width: 82vw;
  }
  .steps {
    // background-color: red;
    position: relative;
    left: 12%;
    top: 17%;
    font-size: small;
    position: absolute;
    // width: 44vw;
  }

  .contentStyle {
    width: 100%;
  }

  .textfiled {
    width: min-content;
    font-size: small;
    position: relative;
    left: 6rem;
  }

  .h2 {
    position: relative;
    left: 6rem;
  }

  .image {
    // margin-top: 1em;
    margin-left: 11em;
    position: relative;
    top: -0.4em;
  }

  .takeSpace {
    height: 120px;
  }

  .detailBox {
    font-size: 1.2rem;
  }
  // .h1x{
  //   position: relative;
  //   left: 2em;

  // }
  // .h2x{
  //   position: relative;
  //   top: 1em;
  //   left: -18rem;

  // }
}
