.editModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: -8em;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.cancelIcon {
  margin-bottom: 1em;
}

.cancelIconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dataBox {
  width: 100%;
  padding: 2em;
  // border: 1px solid #ccc;
  border-radius: 5px;
  // margin-bottom: 2em;
  display: flex
}

.steps {
  margin-bottom: 2em;
}

.contentStyle {
  margin-bottom: 2em;
}

.buttonBox {
  display: flex;
  justify-content: center;
}

.editButton,
.cancelButton {
  padding: 0.5em 1em;
  margin: 1em 0.5em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}

.personalCon {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.156);
  align-items: center;
}

.details {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.image {
  margin-right: 1em;
}

.h1x {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.h2x {
  font-size: 2em;
}

.inputFields {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 300px;
  margin: 0.5em;
}

.box2 {
  margin-bottom: 1em;
}

.h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.textfiled {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.row{
  display: flex;
}

.column {
  flex: 1;
  padding: 0.5em;
}

.formfields {
  display: flex;
  flex-direction: column;
}