.main {
  overflow: "auto";
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 5rem;
  margin-left: 3rem;
}

.mainCon1 {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 2rem;
}

.company1box {
  display: flex;
  flex-direction: column;
  // align-items: centers;
  justify-content: flex-start;
  width: 68vw;
  height: 55vh;
  background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.p {
  // background-color: black;
  font-size: 1rem;
  color: black;
}
.h1 {
  color: black;
  margin-top: 0;
  font-size: 4rem;
}
.Carouselh1Box {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.card1box {
  height: auto;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-shrink: 1;

  .box {
    margin-left: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 24rem;
    box-shadow: 0px 0px 16px grey;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    h1 {
      font-size: 2rem;
    }
    div {
      font-size: 1.5rem;
    }
    .p {
      font-size: 1.4rem;
      font-weight: 7600;
      margin: 0;
      margin-bottom: 1rem;
      text-align: center;
      position: relative;
      top: -4%;
    }
    .rolp {
      font-size: 1.5rem;
      position: relative;
      top: -48%;
      left: 2%;
    }
  }
}

.rolesHead {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.roles {
  // display: flex;
  // width: 70%;
  position: relative;
  top: -2%;
  left: 2%;
  // display: inline-block;
  span {
    padding-right: 17px;
  }
}

.boxCon {
  width: 73vw;
  margin-top: -1rem;
}
.carobox {
  // background-color: black;
  border-radius: 15px;
  // border: 1px solid black;
  // margin-left: 5rem;
  // display: flex;
  // flex-direction: row;
}

.blankbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  font-size: 2rem;
}

@media screen and (min-width: 750px) and (max-width: 900px) {
  .card1box {
    height: auto;
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
    .box {
      width: 18rem;
      height: 24rem;
      h1 {
        font-size: 1.8rem;
      }
      div {
      }
      p {
        font-size: 1.3rem;
        font-weight: 7600;
        margin: 0;
        margin-bottom: 0.5rem;
        text-align: center;
      }
    }
  }
}

.modalDimension {
  width: 800px;
}

// table grid style
.container3 {
  //   margin-bottom: 1rem;
  margin-top: 2rem;
  height: 50%;
  height: 55vh;
  font-size: 1.6rem;
  border-top: solid 1.5px black;
}

.listCon {
  padding-top: 1rem;
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-bottom: 0.5rem;
}
.list {
  //   margin-top: 2rem;
  //   width: 60vh;
  padding: 3rem;
  height: 50vh;
  font-size: 1.7rem;
}

// table style

.main1 {
  display: flex;
  flex-direction: column;
  // width: 100%;
  // height: 50vh;
  background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  height: 100%;
  padding: 2rem;
  width: 69vw;
  overflow: hidden;

  // padding-bottom: 6.9rem;
}
.yourContent {
  align-items: center;
}
.container2 {
  // margin-top: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.h1LnC {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.container3 {
  margin-top: 2rem;

  height: 50%;
  height: 60vh;
  font-size: 1.6rem;
  border-top: solid 1.5px black;
  overflow-x: scroll;
  // background-color: green;
  width: max-content;
}

/* Container for the Swiper component */
// .swiper-container {
//   display: flex; /* Display the cards horizontally */
//   flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
// }

.roles {
  // background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
}
