.main {
  overflow: "auto";
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 5rem;
  margin-left: 3rem;
}

.mainCon1 {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 2rem;
}

.company1box {
  display: flex;
  flex-direction: column;
  // align-items: centers;
  justify-content: flex-start;
  width: 68vw;
  height: 30vh;
  background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.p {
  // background-color: black;
  font-size: 1rem;
  color: black;
}
.h1 {
  color: black;
  margin-top: 0;
}
.Carouselh1Box {
  display: flex;
  justify-content: center;
}
.card1box {
  height: auto;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
  .box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 18rem;
    box-shadow: 0px 0px 16px grey;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    h1 {
      font-size: 1.8rem;
    }
    div {
    }
    p {
      font-size: 1.4rem;
      font-weight: 7600;
      margin: 0;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
}

.boxCon {
  width: 73vw;
  margin-top: -1rem;
}
.carobox {
  // background-color: black;
  border-radius: 15px;
  // border: 1px solid black;
  // margin-left: 5rem;
  // display: flex;
  // flex-direction: row;
}

.blankbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  font-size: 2rem;
}
