.main {
  min-width: 100wv;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: aqua;
  .empty {
    width: 20%;
    max-width: 20vw;
  }
}

.cont {
  background-color: white;
  // margin-left: 38vh;
  width: 80%;

  padding-top: 0;

  .child {
    padding-top: 6%;
  }
}

.child {
  overflow: hidden;
  height: auto;
  width: 80%;
  max-width: 80vw;
  // padding-top: 10vh;
  // padding: 3rem;
}
