.main {
  min-width: 100wv;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: aqua;
  .empty {
    width: 20%;
    max-width: 20vw;
  }
}

.cont {
  background-color: white;
  // margin-left: 38vh;
  width: 90vw;

  padding-top: 0;
}

.child {
  overflow: hidden;
  height: auto;
  width: 100%;
  max-width: 80vw;
  margin-top: 10rem;
}
