.drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 20%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 0;
  position: fixed;
  z-index: 10;

  .contmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding-top: 3rem;
    min-width: 130px;
    cursor: pointer;
  }
  // position: fixed
  .item {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    max-width: 220px;
    width: 100%;
    // min-height: 48px;
    margin-right: 1rem;
    @media screen and (max-width: 1600px) {
      width: 100%;
    }
    p {
      margin: 1.5rem;
      margin-left: 10px;
      color: white;
      font-size: 2rem;
      font-weight: 500;
    }
  }
  .item:hover {
    border: 1px solid #fdfdfd52;
    background: linear-gradient(
      149.39deg,
      rgba(255, 240, 240, 0.19) 0%,
      rgba(255, 240, 240, 0) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
  }
  .selected {
    border: 1px solid #fdfdfd52;
    background: linear-gradient(
      149.39deg,
      rgba(255, 240, 240, 0.19) 0%,
      rgba(255, 240, 240, 0) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    // transition-delay: 1s;
  }
  // .selected::after {
  //   position: fixed;
  //   content: "";
  //   // z-index: 1;
  //   // border-bottom: solid white;
  //   // border-left: solid white;
  //   // background-color: white;
  //   // bottom: 18%;
  //   // right: -10.1rem;
  //   // width: 3.5rem;
  //   // height: 3.5rem;
  //   transform: rotate(180deg);
  //   // box-shadow: none;
  //   width: 0px;
  //   height: 0px;
  //   right: -8em;
  //   border-top: 3rem solid transparent;
  //   border-bottom: 3rem solid transparent;
  //   border-left: 3rem solid white;
  // }
}

.image {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 4rem;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.mainitem {
  width: 100%;
}
// nir

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .contmain > .mainitem > .item > p {
    font-size: 1.5rem;
  }

  .logo {
    width: 172px;
  }
}
