@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@400;600;700&family=Montserrat&family=Poppins:wght@300;400;500&display=swap");
html {
  font-size: 1.3vh;
}
body {
  margin: 0 !important;
}
* {
  font-family: "Montserrat", sans-serif;
  // font-family: "Poppins", sans-serif;
}
