// .cont {
//   min-height: 100vh;
//   height: 100%;
//   width: 82%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.main {
  padding: 7rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainCon1 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  // height: 10vh;
  background: #ffffff;
  font-size: 11px;
  // border-radius: 15px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // margin-left: 5rem;
  // padding: 2rem;
}
.company1box {
  // color: white;
  // background-color: black;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 55vh;
  // background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.descboxes {
  margin-top: 2rem;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  // margin-left: 5rem;
  .box {
    background-color: black;
    elevation: 10;

    width: 30%;
    // min-width: 320px;
    color: white;
    text-align: center;
    border-radius: 10px;
    .mainicon {
      height: 1px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }
    .icon {
      text-align: center;
      height: 6rem;
      width: 6rem;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 16px #fff0f0;
      margin-top: -3rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(160, 159, 159);
        color: black;
      }
    }
    .head,
    .p {
      font-family: Inter, sans-serif;
      font-size: 2rem;
      font-weight: 900;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
    .p {
      margin-top: 1rem;
    }
  }
}

.img {
  height: 4rem !important;
  width: auto !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // padding-left: 1rem;
  // padding-right: 1rem;
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.box2 {
  width: 40rem;
  height: 25rem;
  box-shadow: 0px 0px 16px #fff0f0;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: 6rem;
}
.box3 {
  width: 40rem;
  height: 25rem;
  box-shadow: 0px 0px 16px #fff0f0;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-right: 6rem;
}
.boxCon {
  width: 73vw;
  margin-top: -1rem;
}
.carobox {
  border-radius: 15px;

  // margin-left: 5rem;
}

.h1 {
  color: black;
  font-size: 2.5rem;
  margin-top: 0;
}
.Carouselh1Box {
  display: flex;
  justify-content: center;
}

.card1box {
  margin-left: 5%;
  margin-top: 7%;
  height: auto;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  justify-content: space-around;
  // margin-bottom: 2.5rem;
  .box {
    color: white;
    background-color: black;
    // margin-top: 1rem;
    // background-color: red;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 26.3rem;
    box-shadow: 0px 0px 16px grey;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    h1 {
      font-size: 2.2rem;
      font-weight: bold;

      position: relative;
      // top: -57%;
    }
    div {
    }
    .p {
      font-size: 1.7rem;
      font-weight: 7600;
      margin: 0;
      margin-bottom: 0.4rem;
      text-align: center;
      position: relative;
      top: -100%;
    }
    .rolp {
      font-size: 1.9rem;
      position: relative;
      top: -100%;
      left: 190%;
    }
    .roles {
      font-size: 1.5rem;
    }
  }
}
.blankbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  font-size: 2rem;
}

.cardName {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardDate {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardRoles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardPackage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.rolesHead {
  display: flex;
  // flex-direction:;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.roles {
  // display: flex;
  // width: 70%;
  position: relative;
  right: 10%;
  // display: inline-block;
  span {
    padding-right: 10px;
  }
}

.packageHead {
  width: 20%;
  position: relative;
  left: 41%;
  top: 32%;
  font-size: 1.5rem;
}

.packageAm {
  position: relative;
  top: 173%;
  right: 42%;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .card1box {
    .box {
      width: 100%;
      height: 37vh;
    }
  }
}

.roles {
  // background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17px;
}
