// .cont {
//   min-height: 100vh;
//   height: 100%;
//   width: 82%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.main {
  padding: 7rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainCon1 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  // height: 10vh;
  background: #ffffff;
  font-size: 11px;
  // border-radius: 15px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 5rem;
  padding: 2rem;
}
.company1box {
  display: flex;
  flex-direction: column;
  width: 68vw;
  height: 35vh;
  background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.descboxes {
  margin-top: 2rem;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  .box {
    background-color: black;
    elevation: 10;
    width: 20%;
    min-width: 320px;
    color: white;
    text-align: center;
    border-radius: 10px;
    .mainicon {
      height: 1px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }
    .icon {
      text-align: center;
      height: 6rem;
      width: 6rem;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 16px #fff0f0;
      margin-top: -3rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(160, 159, 159);
        color: black;
      }
    }
    .head,
    .p {
      font-family: Inter, sans-serif;
      font-size: 2rem;
      font-weight: 900;
      margin-top: 4rem;
    }
    .p {
      margin-top: 1rem;
    }
  }
}

.img {
  height: 4rem !important;
  width: auto !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // padding-left: 1rem;
  // padding-right: 1rem;
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.box2 {
  width: 40rem;
  height: 25rem;
  box-shadow: 0px 0px 16px #fff0f0;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: 6rem;
}
.box3 {
  width: 40rem;
  height: 25rem;
  box-shadow: 0px 0px 16px #fff0f0;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-right: 6rem;
}
.boxCon {
  width: 73vw;
  margin-top: -1rem;
}
.carobox {
  border-radius: 15px;

  // margin-left: 5rem;
}

.h1 {
  color: black;
  font-size: 2rem;
  margin-top: 0;
}
.Carouselh1Box {
  display: flex;
  justify-content: center;
}

.card1box {
  height: auto;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
  .box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 18rem;
    box-shadow: 0px 0px 16px grey;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    h1 {
      font-size: 1.8rem;
    }
    div {
    }
    p {
      font-size: 1.4rem;
      font-weight: 7600;
      margin: 0;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
}
.blankbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  font-size: 2rem;
}
