.main {
  // background-color: black;
  background: linear-gradient(to right, #000000, #434343);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  // width: 50vw;
}

.con1 {
  // margin-right: 20px;
  // display: flex;
  // justify-content: center;
  // width: 50rem;
}

.con2 {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.card {
  width: 350px;
  // background-color: white;
  background: linear-gradient(to right, #434343, #000000);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // border: 1px solid white;
  // color: white;
  border-radius: 1.5rem;
  h2 {
    color: white;
  }
}

.maincont {
  text-align: center;
}

.h1container {
  margin-bottom: 20px;
}

.h1 {
  font-size: 5rem;
  color: white;
  font-weight: bold;
  margin-block-start: 0.67em;
  // margin-block-end: 0.67em;
}

.h2C {
  font-size: 2.5rem;
  color: white;
  margin-top: 5px;
}

.box {
  // margin-bottom: 15px;
}

.box2 {
  text-align: left;
}

.h2 {
  font-size: 14px;
  font-weight: bold;
}

.textfiled {
  width: 100%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 1.7rem;
}

.box5 {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}

.checkbox {
  margin-right: 5px;
}

.box4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.buttbox {
  width: 100%;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}

.box3 {
  display: flex;
  margin-top: 2rem;
  font-size: 12px;
  color: white;

  .link {
    margin-left: 0.5rem;
    // color: white;
    // text-decoration: underline;
    a {
      color: white;
    }
    a:hover {
      color: grey;
      text-decoration: underline;
    }
  }
}

.hidePassButton {
  position: absolute;
  background-color: transparent;
  color: black;
  min-width: 50px;
  margin-top: 10px;
  transform: translateX(2px);
  top: 0;
  right: 0px;
  // // right: 27rem;
  // top: 8px;
  // color: black;
}
.passBox {
  display: flex;
  // width: 100vw;
  // width: 300px;
  position: relative;
}
.userBox {
  display: flex;
  // width: 100vw;
  // width: 300px;
  // position: relative;
}
