.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
}

.cont {
  min-height: 100vh;
  height: 100vh;
  width: 82%;
}
.container {
  width: 50%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.maincont {
  // width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container2 {
  width: 50%;
  height: 100vh;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 3.7rem;
  line-height: 43px;
  color: #000000;
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.h2 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 107px;
  color: #000000;
  margin-top: -1rem;
  margin-bottom: -1rem;
  height: auto;
}

.h1container {
  display: flex;
  justify-content: flex-start;
  padding-right: 35.5rem;
  h1 {
    margin-bottom: 3 rem;
  }
}

.button {
  font-size: 2.2rem;
  box-sizing: border-box;
  width: 28rem;
  height: 5rem;
  left: 871px;
  top: 672px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.7rem;
  color: white;
  padding-top: 0px;
  //   padding-bottom: 10px;
}

.checkbox {
  top: 0;
  left: 0;
  height: 25px;
  width: 35px;
}
.box {
  display: flex;
  justify-content: flex-start;
  padding-right: 15.2rem;
}

.box2 {
  left: 10px;
  font-size: 5rem;
}

.box3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  left: 20px;
  font-size: 1.7rem;
}

.box4 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 15.5rem;
  padding-top: 3rem;
  font-family: "Montserrat";
}
.box5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 25rem;
  font-family: "Montserrat";
  font-size: 1.6rem;
}

.textfiled {
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  padding-right: 12rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid black;
}
