.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  width: 100vw;
}

.con1 {
  display: flex;
  justify-content: flex-start;
}

.con2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  // margin-left: 28rem;
  background: linear-gradient(90deg, #111111 0%, #666666 100%);
  padding: 10px;
  // height: 70vh;
  min-width: 30vw;
  border: 1px solid white;
  border-radius: 1.5rem;
}
.maincont {
  display: flex;
  flex-direction: column;
}

.h1container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  
  h1 {
    // margin-bottom: 3 rem;
    // width: 30%;
  }
  h2 {
    // margin-top: 3rem;
    padding-left: 2rem;
    // width: 45%;
  }
}

.h1 {
  // display: flex;
  // justify-content: flex-start;
  // width: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 43px;
  color: white;
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.h2 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 107px;
  color: white;
  margin-top: -1rem;
  margin-bottom: -1rem;
  height: auto;
}

.h2C {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  color: white;
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.button {
  font-size: 2.2rem;
  box-sizing: border-box;
  width: 32rem;
  height: 5rem;
  left: 871px;
  top: 672px;
  background: gray;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.7rem;
  color: white;
  padding-top: 0px;
  //   padding-bottom: 10px;
}

.checkbox {
  // top: 0;
  // left: 0;
  // height: 25px;
  // width: 35px;
  margin: 5px;
  border: 1px solid white;
}
.box {
  display: flex;
  justify-content: center;
}

.box2 {
  left: 10px;
  font-size: 5rem;
}

.box3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  left: 20px;
  font-size: 1.7rem;
}

.link {
  padding-left: 0.8rem;
  text-decoration: none;
}
.link2 {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 6rem;
}
.box4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //   padding-right: 1rem;
  padding-top: 3rem;
  font-family: "Montserrat";
}
.buttbox {
  display: flex;
  justify-content: center;
}
.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-left: 4rem;
  padding-right: 15rem;
  font-family: "Montserrat";
  font-size: 1.2rem;
  color: white;
}

.textfiled {
  font-size: 18px;
  border-radius: 5%;
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid black;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 90%;
    margin: auto;
  }
}