.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 80px; 
  background-color: white;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.namesec {
  margin-left: 20px; 
}

.namesec h1 {
  font-size: 24px; 
  font-family: inherit;
}

.usersec {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.dropdownCon {
  margin-left: 20px; 
}

.profile {
  width: 52px;
  height: 60px;
  border-radius: 50%;
  margin-left: 1em;
  // overflow: hidden;
  // pointer-events: none;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img:hover {
  border: 3px solid rgb(41, 40, 40);
  cursor: pointer;
}
