.container {
  margin-top: 5rem;
  overflow: "auto";
  height: "800px";
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.main1 {
  display: flex;
  flex-direction: column;
  width: 75rem;
  font-size: 11px;
  margin-left: 7.5rem;
  border-radius: 15px;
  border: solid 1px black;
}
.main2 {
  height: 100%;
  border: 1px solid black;
  border-radius: 15px;
}
.dropdown {
  font-size: 1.5rem;
  width: 20rem;
  margin-left: 2rem;
}

.container2 {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.container3 {
  margin-top: 2rem;
  height: 50%;
  height: 60vh;
  font-size: 1.6rem;
  border-top: solid 1.5px black;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.th {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #ddd;
  border-bottom: solid 1px black;
}

.td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.h2 {
  text-align: center;
  margin-top: 50px;
}
.p {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: black;
  font-size: 1.5rem;
}

.profile {
  width: 20rem;
  justify-content: safe;
  display: flex;
  flex-direction: column;
  margin-right: 7.5rem;
  border-radius: 10px;
}
.dp {
  margin-left: 4.7rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  .img {
    border-radius: 150px !important;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.7rem;
}

.p1 {
  padding-left: 2rem;
  font-weight: bold;
}
.p2 {
  padding-right: 2rem;
}
