.main {
  overflow: "auto";
  height: 83vh;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 5rem;
  margin-left: 3rem;
}

.main1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #ffffff;
  font-size: 11px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  height: 100%;
  padding: 2rem;
}
.main2 {
  width: 27%;
  background: #ffffff;
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  font-size: 1.5rem;
  width: 20rem;
  margin-left: 2rem;
}

.container2 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.container3 {
  //   margin-bottom: 1rem;
  margin-top: 2rem;
  height: 50%;
  height: 60vh;
  font-size: 1.6rem;
  border-top: solid 1.5px black;
}

.table {
  border-collapse: collapse;
}
.th {
  padding: 0.5rem;

  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #ddd;
  border-bottom: solid 1px black;
}

.td {
  padding: 0.5rem;

  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 35px;
}
.h1LnC {
  
  text-align: center;
  line-height: 41px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  // border-bottom: 2px solid black;
}
.h2 {
  text-align: center;
  margin-top: 50px;
}
.p {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: black;
  font-size: 1.5rem;
}

.profile {
  width: 20rem; 
  justify-content: safe;
  display: flex;
  flex-direction: column;
  margin-right: 7.5rem;
  border-radius: 10px;
}
.dp {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // margin-top: 2.5rem;
  // margin-bottom: 2rem;
  // width: 150px;
  // height: 150px;
  border-radius: 50%;
  .img {
    width: 150px;
    height: 150px;
    border-radius: 150px !important;
  }
}

.card {
  display: flex;
  // flex-direction: column;
  align-items: center;
  font-size: 1.5rem; /* Adjust the font size as per your preference */
  margin-bottom: 1rem;
  text-align: center;
}

.cardContent {
  flex: 1;
  overflow-y: auto;
}

.scrollable {
  /* Rest of the code remains the same */
  padding: 1rem 0;
  overflow-y: auto;
}

.p1 {
  padding-left: 1rem;
  font-weight: bold;
  // margin-right: 15px;
}
.p2 {
  padding-right: 1rem;
  padding-left: 0.5em;
  margin-top: 0em;
}

.thead {
  // display: flex;
  justify-content: space-between;
  // flex-direction: row;
}

.e-grid * {
  font-size: 50px !important;
}
.addBoxCon {
  display: flex;
  justify-content: center;
  //   margin-top: 1rem;
  padding-top: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.buttonBox {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.buttonBox2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-right: 3px solid;
  border-left: 3px solid;
}

.button {
  background-color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: none;
  outline: none;
}
.addButton {
  background-color: black;
  width: 6vw;
  height: 5vh;
  font-size: 2rem;
  color: white;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  border-radius: 12px;
}

@media screen and (min-width: 549px) and (max-width: 840px) {
  .dp {
    
    .img {
      width: 120px;
      height: 120px;
      border-radius: 150px !important;
    }
  }

  .card {
    font-size: 1.4rem; /* Adjust the font size as per your preference */
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 549px) and (max-width: 1000px) {
  
  .addButton {
    width: 10vw;
  }
}
